<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<%= #{header[:user-agent]} %>

  <!-- <form action="/abuelita" method="post">
  <h1>Abuela Sorda</h1>
  <b></b>
  <h4>Di algo a la abuela sorda</h4>
  <input type="text" name="abuela" > </input>
  <input type="submit" name="Dilo!"></input>
  </form> -->

</body>
</html>
